body {
    padding-top: 2rem;
    background: #252525;
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    margin: auto;
    position:relative;
}

header div {
    display: inline-flex;
}

header div h1 {
    padding-left: 2rem;
    margin: auto;
    color: #505050;
}

.photo {
    border: 1px solid #808080;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: rgb(149, 109, 180);
    font-family: 'Oswald', sans-serif;
    font-style: bold;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #919090;
}


.post {
    background: rgb(48, 48, 48);
    padding: 15px;
    margin: 15px;
    border: 3px solid #505050;
    border-radius: 5px;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    color: #fff;
    text-transform: capitalize;
    text-align: justify;
}

footer {
    display: block;
}

footer li {
    display: inline;
}

footer li a {
    display: inline-block;
    margin-right: 2rem;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}